In [10]:
mytuple = ("Python")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

P
y
t
h
o
n

In [14]:
string1="Python"
Iter1=iter(string1)
next(Iter1)

'P'

In [13]:
string = "Python"
Iter = iter(string)

for i in range("iter"):
    if(i=="y"):
        continue
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [2]:
fruit=['apple','orange','musk melon','banana']
new_list=[x for x in fruit if "n" in x]
new_list

['orange', 'musk melon', 'banana']

In [10]:
t1=(1,2,[3,4])
t1[1].append(5)
t1

AttributeError: 'int' object has no attribute 'append'

In [14]:
import sys
a_list=[]
a_tuple=()
a_list=[1,5]
a_tuple=(1,5)
print(sys.getsizeof(a_list),"bytes")
print(sys.getsizeof(a_tuple),"bytes")

72 bytes
56 bytes

In [18]:
people={1,2,3,4,5}
print(people)
people.add(6)
for i in range(6,8):
    people.add(i)
    print(people)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [23]:
people={'a','b','c'}
boys={'d','e','f'}
legend={'g','h','i'}
population=people.union(boys)
print(population)
population=boys|legend
print(population)

{'c', 'b', 'd', 'a', 'e', 'f'}
{'i', 'g', 'h', 'd', 'e', 'f'}

In [37]:
set1=set()
set2=set()
for i in range(5):
    set1.add(i)
for i in range(4,9):
        set2.add(i)
set3=set1-set2
set3

{0, 1, 2, 3}